<fieldset>
  <legend>Plugin Settings</legend>
  <p>
    <label>Default graph width</label><input type="text" id="graph_width" size=80 value="<%= settings['graph_width'] %>" name="settings[graph_width]" />
  </p>
  <p>
    <label>Default graph height</label><input type="text" id="graph_height" size=80 value="<%= settings['graph_height'] %>" name="settings[graph_height]" />
  </p>
</fieldset>
