<h3><%= l(:label_graphs_issue_status_flow) %></h3>

<div style="text-align: center">
<%= tag("embed", :width => "300", :height => 300, :type => "image/svg+xml", :src => url_for(:controller => 'graphs', :action => 'recent_status_changes_graph')) %>
</div>