<h3><%= l(:label_graphs_issue_status_flow) %></h3>

<div style="text-align: center">
<%= tag("embed", :width => "280", :height => 280, :type => "image/svg+xml", :src => url_for(:controller => 'graphs', :action => 'recent_assigned_to_changes_graph')) %>
</div>
