.fill1  { fill: #666 !important; }
.line1 { stroke: #666 !important; }
.dataPoint1, .key1 { fill: #666 !important; }

.fill2 { fill: #bacce0  !important; fill-opacity: 0.8 !important; }
.line2 { stroke: #507AAA !important; }
.dataPoint2, .key2 { fill: #507AAA !important; }
