.line1 { stroke: #666666 !important; } .fill1 { fill: #666666 !important; } .key1 { fill: #666666 !important; }
.line2 { stroke: #507AAA !important; } .fill2 { fill: #BACCE0 !important; } .key2 { fill: #507AAA !important; }

.fill1, .fill2 { fill-opacity: 0.6 !important; }
.line1, .line2 { stroke-width: 2px !important; }